
backend/airquality-persistance-service/src/main/resources/application.properties
backend/airquality-persistance-service/src/main/resources/application.properties
*.properties
*.properties
backend/airquality-persistance-service/src/main/resources/application.properties
backend/airquality-persistance-service/src/main/resources/application.properties
