* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

/* App page */

.app-page {
  display: flex;
  flex: 1;
  background: #ddd;
  min-height: 100vh;
}

/* Button */

.btn {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  background: #333;
  padding: 13px 30px;
  border: none;
  cursor: pointer;
}

.btn-login:hover,
.btn-block:hover {
  background: #007bff;
  color: #FFF !important;
}

.btn-center {
  display: border-box;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 5px;
}

.btn-login {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  background: #333;
  padding: 12px 45px;
  border: none;
  cursor: pointer;
  border-radius: .25rem;
}

.btn-block{
  display: inline-block;
  font-size: 22px;
  color: #fff;
  background: #333;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
}
/* Contact */

.contact {
  flex: 0.9;
  display: border-box;
  flex-wrap: wrap;
  background: #f9f9f9;
  padding-bottom: 0;
  justify-content: center;
}

.contact .errorSend {
  margin-left: 25px;
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.contact h1 {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.form-group,
.form p {
  margin-bottom: 20px;
  margin-left: 25px;
}

.contact label {
  display: block;
  margin-bottom: 5px;
}

.contact input,
.contact textarea {
  width: 90%;
  padding: 10px;
  border: 1px #ddd solid;
}

.contact .textarea {
  height: 200px;
}

.contact input:focus,
.contact textarea:focus {
  outline: none;
  border-color: blue;
}

/* Dashboard */

.dashboard {
  flex: 0.9;
  display: flex;
  flex-wrap: wrap;
  background: #f9f9f9;
  padding-bottom: 0;
  justify-content: center;
}

.dashboard p {
  padding: 15px;
}

.dashboard h1 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.dashboard h2 {
  margin-left: 5px;
  margin-bottom: 20px;
}

.bar {
  margin-bottom: 30px;
  padding-left: 20px;
  padding: 0 auto;
}

.sBar:hover {
  fill: brown;
}

/* Error Component */

.ErrorComponent {
  flex: 0.90;
  justify-content: start;
  align-items: center;
  text-align: center;
  color: black;
  background: #f9f9f9;
  padding-bottom: 30%;
}

.NotFound {
  display: block;
  align-items: center;
  margin-top: 32.5vh;
}

.ErrorComponent h1 {
  font-size: 10vh;
  font-weight: bold;
}

.ErrorComponent h2 {
  font-size: 6.5vh;
}

.ErrorComponent h3 {
  font-size: 4vh;
  text-align: center;
}

/* Footer Component */

.footer {
  display: flex;
  background: #333;
  justify-content: center;
  padding: 10px;
}

.footer p {
  font-size: 14px;
  color: white;
  text-align: center;
  margin: 0;
}

/* Header Component */

.header {
  display: flex;
  align-items: center;
  /* aliniem icon-urile in centrul headerului */
  justify-content: space-between;
  /* adaugam spatii intre div-uri */
  padding: 5px 20px;
  /* header-ul va ramane, indiferent de cat scroll facem */
  position: sticky;
  top: 0;
  z-index: 100;
  background: #eee;
}

.header-logo {
  height: 40px;
  /* Scalam logo-ul astfel incat sa pastram aspect ratio-ul */
  object-fit: contain;
  margin-left: 20px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-icon {
  margin-right: 15px;
}


/* Utility */

.clr {
  clear: both;
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

/* Sidebar */

.sidebar {
  /* Acest container are width-ul de 20% */
  flex: 0.10;
  position: sticky;
  top: 50px;
  height: 100%;
  background: #ddd;
}

/* Active sidebarrow */
.sidebar .active .sidebarRow {
  background: #eee;
}

/* Sidebar Row */

.sidebarRow {
  display: flex;
  text-align: center;
  padding: 20px;
}

.sidebarRow-icon {
  color: #606060;
  font-size: large !important;
}

.sidebarRow-title {
  flex: 1;
  font-size: 12px;
  font-weight: 500;
}

.sidebarRow:hover {
  background-color: #eee;
  cursor: pointer;
}

.sidebarRow:hover>.sidebarRow-icon {
  color: blue;
}

.sidebarRow:hover>.sidebarRow-title {
  font-weight: bold;
}


/* Schimbam culoarea iconului din containerul selectat */
.sidebarRow.selected>.sidebarRow-icon {
  color: blue;
}

.sidebarRow.selected>.sidebarRow-title {
  font-weight: bold;
}



/* Mobile Style */

@media (max-width: 768px) {

  /* Sidebar Row */

  .sidebarRow {
    display: block;
    text-align: center;
    font-size: 10px;
  }

  .sidebarRow-title {
    display: none;
  }

  .header-logo {
    margin-left: 0;
  }
}


/* Test */

