body {
  overflow: hidden;
}

.ErrorComponent {
  flex: 0.85;
  justify-content: start;
  align-items: center;
  text-align: center;
  color: black;
}

.NotFound {
  display: block;
  height: 100vh;
  align-items: center;
  margin-top: 32.5vh;
}

.ErrorComponent h1 {
  font-size: 10vh;
  font-weight: bold;
}

.ErrorComponent h2 {
  font-size: 6.5vh; 
}

.ErrorComponent h3 {
  font-size: 4vh;
  text-align: center;
}

/* App page */

.app-page {
  display: flex;
  flex: 1;
}

/* Utility */

.clr {
  clear: both;
}