* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    /* aliniem icon-urile in centrul headerului */
    justify-content: space-between;
    /* adaugam spatii intre div-uri */
    padding: 5px 20px;
    /* header-ul va ramane, indiferent de cat scroll facem */
    position: sticky;
    top: 0;
    z-index: 100;
    background: #eee;
}

.header-logo {
    height: 40px;
    /* Scalam logo-ul astfel incat sa pastram aspect ratio-ul */
    object-fit: contain;
    margin-left: 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-icon {
    margin-right: 15px;
}